mixin tagCloud(tags, label)
  ul.tagcloud(role="navigation", aria-label=label)
    each tag in tags
      li.tagitem
        a(
          data-weight=tag.weight, 
          href=tag.url
        ) #{tag.name}

mixin errorList(errors)
  if errors
    output.errors.items
      p Errors:
      ul.errorlist
        each error of errors
          li #{error}
  else 
    output.errors
      p Errors:
      ul.errorlist
