extends ../layout

block content
  h1 Login
  section.login
    //- div.buttons
    //-   button.hiddenswitch(type="button")
    //-     label.hiddenlabel(for="usernameopt") Username
    //-   button.hiddenswitch(type="button")
    //-     label.hiddenlabel(for="nameopt") Name
    //-   button.hiddenswitch(type="button")
    //-     label.hiddenlabel(for="emailopt") Email
    form(action="/authorization/login", method="POST")
      //- input#usernameopt.hiddenswitcher(type="radio", name="loginopts", hidden, checked)
      //- div
      //-   label(for="oldusername") Username *:
      //-   input#oldusername(type="text", name="username")

      //- input#nameopt.hiddenswitcher(type="radio", name="loginopts", hidden)
      //- div
      //-   label(for="oldname") Name *:
      //-   input#oldname(type="text", name="name")

      //- input#emailopt.hiddenswitcher(type="radio", name="loginopts", hidden)        
      div
        label(for="oldemail") Email *:
        input#oldemail(
          type="email", 
          name="email",
          autocomplete="email"
          required
        )
      div
        label(for="oldpassword") Password *:
        input#oldpassword(
          type="password", 
          name="password", 
          autocomplete="current-password",
          required
        )
      div.buttons
        button(type="submit") Log in

    +errorList(errors)
    